@import url('https://fonts.googleapis.com/css?family=Raleway:400,900|Slabo+27px');

:root {
    --plava: #3496d8;
    --tamnoSiva: #8f8f8f;
    --bela: #fff;
    --padding: 50px 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Slabo 27px', serif;
    color: var(--tamnoSiva);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

/**************
Header
**************/

header {
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--bela);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav .logo {
    color: var(--bela);
    font-size: 2rem;
    text-decoration: none;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

header nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--bela);
    padding-left: 60px;
    font-size: 1.1rem;
} 

header hgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

header hgroup h1 {
    font-size: 5rem;
    font-weight: 900;
}

header hgroup h4 {
    font-size: 2rem;
}

header hgroup h5 {
    font-size: 1.2rem;
    padding-top: 20px;
}

/**************
Introduction
**************/

.introduction {
    padding: var(--padding);
    display: flex;
    flex-wrap: wrap;
}

.introduction .col {
    flex: 1;
}

.introduction img {
    width: 100%;
    height: auto;
}

.introduction .col:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
}

.introduction h2,
.work h2 {
    color: var(--plava);
    font-size: 2.8rem;
}

.introduction p {
    padding: 20px 30px 20px 0;
    font-size: 1.1rem;
}

.introduction button {
    background-color: var(--plava);
    color: var(--bela);
    padding: 15px 50px;
    border: none;
    border-radius: 40px;
    font-size: 1.3rem;
    margin-top: 20px;
}

/**************
Services
**************/

.services {
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.services .col {
    flex: 0 0 30%;
}

.services i {
    color: var(--plava);
    font-size: 4rem;
}

.services h3 {
    color: var(--plava);
    padding: 30px 0;
    font-size: 1.5rem;
}

.services p {
    text-align: justify;
    font-size: 1.1rem;
}

/**************
Work
**************/

.work {
    padding: var(--padding);
    text-align: center;
}

.work p {
    padding: 50px 0;
    font-size: 1.2rem;
}

.work .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work .col {
    flex: 0 0 32%;
    margin-bottom: 30px;
    border-bottom: 10px solid var(--plava);
    position: relative;
}

.work h4 {
    background-color: var(--plava);
    color: var(--bela);
    padding: 20px;
    width: 120px;
    position: absolute;
    top: 0;
    right: 0;
}

.work .img1 {
    background-image: url(../img/works1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.work .img2 {
    background-image: url(../img/works2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.work .img3 {
    background-image: url(../img/works3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.work .img4 {
    background-image: url(../img/works4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.work .img5 {
    background-image: url(../img/works5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.work .img6 {
    background-image: url(../img/works3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

/**************
Footer
**************/

footer {
    background-image: url(../img/footer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: var(--padding);
    color: var(--bela);
}

footer h2 {
    font-size: 3.5rem;
    border-bottom: 1px solid var(--bela);
    margin-bottom: 30px;
}

footer h2::after {
    display: block;
    content: "";
    background-color: var(--bela);
    width: 20%;
    height: 10px;
    position: relative;
    top: 10px;
}

footer h2+p {
    font-size: 1.2rem;
}

footer .row {
    display: flex;
    flex-wrap: wrap;
}

footer .row .col {
    flex: 0 0 50%;
    font-size: 2.2rem;
    padding: 50px 200px 50px 50px;
}

footer input {
    padding: 10px;
}

footer input[type="submit"] {
    background-color: var(--plava);
    color: var(--bela);
    border: none;
    text-transform: uppercase;
    padding: 11px 30px;
    position: relative;
    left: -7px;
}

/******************
*******************
Responsive
*******************
******************/

@media(max-width:768px) {
    
    header {
        height: 70vh;
    }
    
    header nav {
        flex-direction: column;
        padding: 20px 0;
    }
    
    header .logo {
        margin-bottom: 30px;
    }
    
    header nav ul li a {
        padding: 0px 10px 0 0;
        font-size: 1.1rem;
    } 

    header hgroup {
        height: 40vh;
    }
    
    header hgroup h1 {
        font-size: 4rem;
    }
    
     header hgroup h4 {
        font-size: 1.5rem;
    }
    
    .introduction {
        flex-direction: column;
    }
    
    .introduction .col:last-child {
        order: 1;
        margin-bottom: 30px;
        padding-left: 40px;
        padding-right: 60px;
    }
    
    .introduction .col:first-child {
        order: 2;
    }
    
    .introduction p {
        padding: 20px 0;
    }
    
    .services {
        flex-direction: column;
    }
    
    .services .col {
        padding: 20px 60px 20px 25px;
    }
    
    .work p {
        padding-right: 50px;
        padding-left: 10px;
    }
    
    .work .col {
        flex: 0 0 90%;
    }
    
    footer {
        padding-left: 20px;
        padding-right: 40px;
    }
    
    footer h2 {
        font-size: 3rem;
        border-bottom: 1px solid var(--bela);
        margin-bottom: 30px;
    }
    
    footer .row .col {
        flex: 0 0 90%;
        font-size: 2.2rem;
        padding: 30px 
    }
    
    
    
    
    
    
    
    
    
    
    
    
}


















































